<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J+B Wedding | 11 - 11 Wish | Nov 11, 2024</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Great+Vibes&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">

        <!-- First Page -->
        <div class="card">
            <div class="leaves">
                <div class="leaf-top"></div>
                <div class="leaf-bottom"></div>
            </div>

            <div class="text">
                <div class="wedding">The Wedding Of</div>
                <div class="names">
                    <div class="groom">Jobith</div>
                    <div class="and">&</div>
                    <div class="bride">Banu</div>
                </div>
                <div class="save-the-date">
                    <div class="save">Save The Date</div>
                    <div class="date">
                        <div class="month">Nov</div>
                        <div class="day">11</div>
                        <div class="year">2024</div>
                    </div>
                </div>
                <div class="venue">
                    <a href="http://https://maps.app.goo.gl/yxFGo7UjAK4q4Dmm8" target="_blank">
                        Mascot Beach Resort, <br>Payyambalam, Kannur, Kerala
                    </a>
                </div>
            </div>

            <div class="butterflies">
                <div class="butterfly one">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
                <div class="butterfly two">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
                <div class="butterfly three">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
            </div>

            <div class="flowers">
                <img src="/assets/images/flower-top.png" alt="" class="flower-top">
                <img src="/assets/images/flower-bottom.png" alt="" class="flower-bottom">
            </div>
        </div>
        <!-- End First Page -->
        <!-- Second Page -->
        <div class="card">
            <div class="leaves">
                <div class="leaf-top"></div>
                <div class="leaf-bottom"></div>
            </div>

            <div class="invite">
                <div class="invite-text">
                    With the blessings of our parents,
                    <br>
                    <em>Basheer & Thulasi and<br>
                    Muniraju & Kanyakumari,</em>
                    <br>
                    we,
                    <br><br>
                </div>
                <div class="names">
                    Jobith & Banu
                </div>
                <div class="invite-text">
                    <br><br>
                    invite you to celebrate the union of our hearts and traditions as we come together in marriage.
                    <br><br>
                    <em>
                        On, 11th November 2024, 9:30 AM
                        <br>
                        at 
                        <a href="http://https://maps.app.goo.gl/yxFGo7UjAK4q4Dmm8" target="_blank">
                            Mascot Beach Resort, <br>Payyambalam, Kannur, Kerala.
                        </a>
                    </em>
                    <br><br>
                    We warmly welcome you to join us in traditional attire, reflecting the beauty of our shared
                    cultures, as we celebrate this special day.
                    <br><br>
                    After the ceremony, please join us for a traditional lunch at 12:00 PM.
                    <br><br>
                    Wedding Reception:
                    <br>
                    <strong>
                        Sunday, 17th November 2024, at 6:00 PM
                        <br>
                        Venue: <a href="https://maps.app.goo.gl/o63b21VjUUKUwxF77" target="_blank">Parish Hall, Alakode, Kannur, Kerala.</a>
                    </strong>
                    <br><br>
                    Your presence will be a blessing as we embark on this journey of love and unity.Lots of love and
                    support from
                    <br><br>
                    <em>Bhumi & Knightz</em>
                </div>
            </div>

            <div class="butterflies">
                <div class="butterfly one">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
                <div class="butterfly two">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
                <div class="butterfly three">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
            </div>

            <div class="flowers small">
                <img src="/assets/images/flower-top.png" alt="" class="flower-top">
                <img src="/assets/images/flower-bottom.png" alt="" class="flower-bottom">
            </div>
        </div>
        <!-- End Second Page -->
        <!-- Extra Page -->
        <div class="card">
            <div class="leaves">
                <div class="leaf-top"></div>
                <div class="leaf-bottom"></div>
            </div>
            <div class="details">
                Nov 11, 2024 | Wedding Venue:
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3904.6721871357886!2d75.35824271162296!3d11.858204238259143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c47720e4ce3fd%3A0x735bbcec4a3a4ca3!2sMascot%20Beach%20Resort!5e0!3m2!1sen!2sin!4v1729245406209!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                Nov 17, 2024 | Reception Venue:
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.9165274583065!2d75.46404051162563!3d12.18608283156133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba445004e402ead%3A0xf6328fc8d0d70c77!2sSt.%20Marys%20Forane%20Church%20Parish%20Hall!5e0!3m2!1sen!2sin!4v1729245389885!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="flowers small">
                <img src="/assets/images/flower-top.png" alt="" class="flower-top">
                <img src="/assets/images/flower-bottom.png" alt="" class="flower-bottom">
            </div>
        </div>
        <!-- End Extra Page -->
    </div>



    <script src="./assets/script.js"></script>
</body>

</html>