<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J+B Wedding | 11 - 11 Wish | Nov 11, 2024</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Great+Vibes&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="card">
            <div class="leaf-top"></div>
            <div class="hero-names">
                <div class="groom">Jobith</div>
                <div class="and">&</div>
                <div class="bride">Banu</div>
            </div>
            <div class="leaf-bottom"></div>
            <div class="butterflies">
                <div class="butterfly one">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
                <div class="butterfly two">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
                <div class="butterfly three">
                    <div class="butterfly-turn">
                        <div class="butterfly-flutter"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="leaf-top"></div>
            <div class="leaf-bottom"></div>
        </div>
    </div>

    

    <script src="./assets/script.js"></script>
</body>

</html>