// global.scss

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  color: $font-color;
  font-family: $body-font;
}

.debug--white {
  border: dashed 1px white;
}

.debug--blue {
  border: dashed 1px blue;
}
